.card-style{
    padding: 20px;
}
.header{
    border: 1px solid #c5c5c5;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}
.resource-style{
    background-color: rgb(199, 217, 255);
    border-radius: 5px;
    padding-top: 7px;
    padding-bottom: 7px ;
    margin-top: 22px;

}
.resurce-name{
    padding: 10px;
}
.rate-style{
    margin-top: 22px;
    padding: 7px;
}
.button-style{
    margin: 5px 0 0 0;
}
.button-ubication{
    text-align: right;
    padding-top: 10px;
}
.padding-input{
    padding-right: 5px;
}
.margin-check{
    margin-right: 5px;
}